<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Syncope Category"
            id="EclipsePlugin">
      </category>
      <view
            name="Syncope View"
            icon="src/main/resources/icons/syncope.png"
            category="EclipsePlugin"
            class="org.apache.syncope.ide.eclipse.views.SyncopeView"
            id="org.apache.syncope.ide.eclipse.views.SyncopeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="org.apache.syncope.ide.eclipse.views.SyncopeView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
